.home-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leagues {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
}

input {
  border-radius: 5px;
  margin: 10px;
}

.league-tile {
  display: flex;
  border: solid;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}