.roster {
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 220px;
  max-width: 300px;
  border: 1px black solid;
}

.players {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}