.player_tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 2px;
  padding: 4px;
  flex: 0 0 auto;
}

.player_tile_green {
  border-color: green;
  border-width: 2px;
  background-color: rgba(185, 255, 185, 0.5);
}

div.player_info {
  display: flex;
  flex-direction: column;
}

.player_info_line {
  display: flex;
  flex-direction: row;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
}

.trade_action {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

p.trade_info {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  align-items: center;
}