.roster {
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 220px;
  max-width: 300px;
  border: 1px black solid;
}

.sort {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  flex: 0 0 auto;
}

.name_header {
  text-align: center;
}

.green_value {
  color: green;
}
.red_value {
  color: red;
}
.black_value {
  color: black;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.players {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}